<launch>
    <!-- Start everything with nexus2 namespace -->
    <arg name="robot_name" default="nexus2" />
    <group ns="$(arg robot_name)">
        <!-- Robot description and robot state publisher -->
        <include file="$(find sml_nexus_description)/launch/sml_nexus_description.launch"/>

        <!-- Load wheel controllers tuning parameters -->
        <rosparam file="$(find sml_nexus_robot)/config/pid_params_nexus2.yaml" command="load" />

        <!-- Low-level controller (Arduino bridge) -->
        <node name="rosserial_$(arg robot_name)" pkg="rosserial_python" type="serial_node.py" output="screen" required="tru$
            <param name="port" value="/dev/ttyACM0"/>
        </node>

        <!-- Odometry -->
        <node name="odometry_broadcaster" pkg="sml_nexus_robot" type="odometry_broadcaster" output="screen" required="true"$
    </group>
</launch>

