<?xml version="1.0"?>
<launch>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find sml_nexus_robot)/config/navigation/planner.yaml" command="load"/>

    <!-- common costmap attributes -->
    <rosparam file="$(find sml_nexus_robot)/config/navigation/costmap_common.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find sml_nexus_robot)/config/navigation/costmap_common.yaml" command="load" ns="local_costmap" />

    <!-- static local costmap -->
    <rosparam file="$(find sml_nexus_robot)/config/navigation/local_costmap_static.yaml" command="load" ns="local_costmap" />

    <!-- static global costmap -->
    <rosparam file="$(find sml_nexus_robot)/config/navigation/global_costmap_static.yaml" command="load" ns="global_costmap"/>
    
    <!-- Global & local planners -->
    <param name="base_global_planner" type="string" value="base_global_planner/NavfnROS" />
    <param name="planner_frequency" value="1.0" />
    <param name="planner_patience" value="5.0" />

    <param name="base_local_planner" value="eband_local_planner/EBandPlannerROS"/>
    <param name="controller_frequency" value="5.0" />
	<param name="controller_patience" value="15.0" />
  </node>

  <node pkg="tf" type="static_transform_publisher" name="base_link_broadcaster" args="0 0 0 0 0 0 1 nexus base_footprint 100" />
  <node pkg="tf" type="static_transform_publisher" name="map_link_broadcaster" args="0 0 0 0 0 0 1 mocap map 100" />

</launch>
